<!DOCTYPE html>
<html>
  <head>
  	<meta chartset="UTF-8">
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header>
    	<h1><%= title %></h1>
    </header>
    <nav>
    	<span><a title="添加" href="/add">添加</a></span>
    	<span><a title="删除" href="/delete">删除</a></span>
    	<span><a title="查找" href="/find">查找</a></span>
      <span><a title="更新" href="/update">更新</a></span>
    </nav>
    <article>
    	
   
